<div id="step-2">
    <label for="item_selector">Item Selector
        <input type="text" id="item_selector" name="item_selector" value="{{.itemSelector}}"
               hx-post="/feed/preview" hx-trigger="keyup change delay:200ms"
               hx-target="#step-2" hx-swap="innerHTML" hx-include="closest form" hx-indicator="#loader">
    </label>

    <label for="title_selector">Title Selector
        <input type="text" id="title_selector" name="title_selector" value="{{.titleSelector}}"
		       hx-post="/feed/preview" hx-trigger="keyup change delay:200ms"
               hx-target="#step-2" hx-swap="innerHTML" hx-include="closest form" hx-indicator="#loader">

    </label>

    <label for="link_selector">Link Selector
        <input type="text" id="link_selector" name="link_selector" value="{{.linkSelector}}"
		       hx-post="/feed/preview" hx-trigger="keyup change delay:200ms"
               hx-target="#step-2" hx-swap="innerHTML" hx-include="closest form" hx-indicator="#loader">

    </label>

    <label for="date_selector">Date Selector (optional)
        <input type="text" id="date_selector" name="date_selector" value="{{.dateSelector}}"
		       hx-post="/feed/preview" hx-trigger="keyup change delay:200ms"
               hx-target="#step-2" hx-swap="innerHTML" hx-include="closest form" hx-indicator="#loader">

    </label>

    <button type="submit">Create Feed</button>
    <a href="/" role="button" class="secondary">Cancel</a>

    <h4>Preview</h4>
    <p><strong>First item HTML:</strong></p>
    <pre style="max-height:200px; overflow:auto;"><code>{{.firstHTML}}</code></pre>

    <p><strong>Title:</strong>{{.firstTitle}}</p>
    <p><strong>Link:</strong>{{.firstLink}}</p>
    <p><strong>Date:</strong>{{.firstDate}}</p>
</div>
