{{define "content"}}
<h2> Add new feed</h2>
<form action="/feed/" method="post">
    <label for="name">Feed Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>
    <label for="url">Website URL:</label><br>
    <input type="url" id="url" name="url" required><br><br>
    <input type="submit" value="Create Feed">
</form>

<h2>Feeds</h2>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URL</th>
            <th>Created At</th>
            <th>Last Refresh</th>
            <th>Total feed count</th>
            <th>Edit</th>
          </tr>
    </thead>
    <tbody>
        {{range .Feeds}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td><a href="{{.Url}}" target="_blank">{{.Url}}</a></td>
            <td>{{.CreatedAt}}</td>
            <td>#todo</td>
            <td>#todo</td>
            <td><a href="/feed/{{.ID}}/edit">Edit</a></td>
        </tr>
        {{else}}
        <tr>
            <td colspan="6">No feeds available</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
